/.idea
/admin
/application
/bin
/cache
/core
/documentation
/export
/log
/migration
/modules/*
!/modules/hackathon
/out
/setup
/tmp
/vendor
/.htaccess
/bootstrap.php
/composer.lock
/config.inc.php
/COPYING
/favicon.ico
/getimg.php
/index.php
/offline.html
/oxid
/oxseo.php
/pkg.info
/pkg.rev
/README
/robots.txt
/widget.php
/xd_receiver.htm
